<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fix It</title>

    <link rel="stylesheet" href="../../user.css" />
</head>

<body class="flex-row">
    

    <main class="main-content flex-col">

        <div class="login-signup flex-col">
            <div class="btn flex-row">
                <div class="login-signup-sel" id="Login">Login</div>
                <div class="login-signup-sel" id="Sign-up">Sign Up</div>
            </div>

            <form action="./" method="post" class="flex-col" id="form-login-signup">
                <label for="first">
                    Username:
                </label>
                <input type="text" id="first" name="first" placeholder="Enter your Username" required>

                <label for="password">
                    Password:
                </label>

                <input type="password" id="password" name="password" placeholder="Enter your Password" required>

                <button type="submit" id="submit-btn">
                    Login
                </button>
        </div>
        </form>
        </div>
    </main>
    <script src="./login.js"></script>
</body>

</html>