<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="../../user.css" />
  <link rel="stylesheet" href="./feedback.css" />
  <link rel="stylesheet" href="../../form-style.css" />
  <script src="https://kit.fontawesome.com/7803942065.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex-row homepg-body">
    <div class="left-nav flex-col">
      <span class="a" onclick="handleclosebtn()">
        <i class="fas fa-angle-double-left left-nav-open-close-button"></i>
      </span>
      <script>
        function handleclosebtn() {
          document.querySelector('.left-nav').style.width = '6vw';
        }
      </script>
      <div class="user-info-left-nav">
        <span><img src="../../asset/man-icon-illustration-vector.jpg" alt="No image" id="user-img" /></span>
      </div>
      <script src="../homepage/texttoicon.js"></script>

      <div class="nav">
        <div class="button" id="b3" onclick="window.location.href='../homepage/homePage.html'">
          Home
          </div>
        <div class="button" id="b1" onclick="window.location.href='../requestServicepage/requestService.html'" >
          Request
          </div>
        
        <div class="button" id="b5" onclick="window.location.href='../trackRequest/trackRequest.html'"> Track Request</div>
        <div class="button" id="b4" onclick="window.location.href='../requestServicepage/requestService.html'"> History</div>
        <div class="button" id="b2" onclick="window.location.href='./feedbach.html'"> Feedback</div>
        <button id="logout">Log Out </button>
      </div>
    </div>
    <div class="homepg-main-content flex-col">
      <div class="header flex-row">
        <h2>Feedback</h2>
      </div>
      <div class="history-track flex-col">
        <div class="no-history" onload="no_data">There is no feddback </div>
        <div class="trackHistory flex-col">
          <div class="hd flex-row">
            <h6>Request Name</h6> <button class="feedback-btn" >Feedback</button>
          </div>
          <div class="Discription">
            Discription:</br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sint unde magni accusamus harum assumenda
            esse cupiditate vel omnis perferendis nesciunt, culpa illo, sapiente tempora tempore voluptatum, atque eius
            accusantium!</div>
        </div>
      </div>
      <!-- Feedback Modal -->
      <div class="feedback-modal" id="feedbackModal">
        <div class="feedback-content">
          <span class="close-btn" onclick="closeFeedbackForm()">&times;</span>
          <h3>Submit Feedback</h3>

          <!-- Star Rating -->
          <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
          </div>

          <!-- Feedback Textarea -->
          <textarea id="feedbackText" placeholder="Write your feedback here..."></textarea>

          <!-- Submit Button -->
          <button onclick="submitFeedback()">Submit</button>
        </div>
      </div>

      <script src="./feedback.js"></script>
    </div>
  </div>
  <script src="../homepage/left-nav.js"></script>
</body>

</html>