.no-request{
    border: 2px solid blueviolet;
    font-family: sans-serif;
    font-style: bold;
    border-radius: 5px;
    align-items: center;
    display: flex ;
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-color:rgba(47, 79, 79, 0.37);
    font-size: x-large;
    display: none;
}

.request-track{
    padding: 20px;
    
}

.requested-task-progress{
    border: 2px solid blueviolet;
    font-family: sans-serif;
    font-style: bold;
    border-radius: 5px;
    align-items: center;
    display: flex ;
    margin-top: 10px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color:rgba(47, 79, 79, 0.37);
    font-size: x-large;
}