<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>track request</title>
  <link rel="stylesheet" href="../../user.css" />
  <link rel="stylesheet" href="./trackRequest.css">
  
  <script src="https://kit.fontawesome.com/7803942065.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class=" homepg-body flex-row">
    <div class="left-nav flex-col">
      <span class="a" onclick="handleclosebtn()">
        <i class="fas fa-angle-double-left left-nav-open-close-button" ></i>
      </span>
      <script>
          
          function handleclosebtn(){
            document.querySelector('.left-nav').style.width='6vw';
          }
      </script>
      <div class="user-info-left-nav">
      
        <span
          ><img
            src="../../asset/man-icon-illustration-vector.jpg"
            alt="No image"
            id="user-img"
        /></span>
      
      </div>
      <script src="./texttoicon.js"></script>

      <div class="nav">
        <div class="button" id="b3"  onclick="window.location.href='../homepage/homePage.html'">
            Home
          </div>
        <div class="button" id="b1" onclick="window.location.href='../requestServicepage/requestService.html'" >
          Request
          </div>
        
        <div class="button" id="b5" onclick="window.location.href='./trackRequest.html'"> Track Request</div>
        <div class="button" id="b4" onclick="window.location.href='../requestServicepage/requestService.html'"> History</div>
        <div class="button" id="b2" onclick="window.location.href='../feedback/feedbach.html'"> Feedback</div>
        <button id="logout">Log Out </button>

      </div>
    </div>
    <div class="homepg-main-content flex-col">
      <div class="header flex-row">
        <h2>Track Progress</h2>
      </div>
      <div class="request-track flex-col">
        <div class="no-request" onload="no_data">There is no Service request to show</div>
        <div class="trackRequest flex-col">
          Request Name</br>
          
          <div class="Discription">
            Discription:
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sint unde magni accusamus harum assumenda esse cupiditate vel omnis perferendis nesciunt, culpa illo, sapiente tempora tempore voluptatum, atque eius accusantium!</div>
          <div class="progress-bar-1">
            <legend><h6>progress bar</h6></legend>
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script src="./addRequest.js"></script>
  <script src="../homepage/texttoicon.js"></script>
  <script src="../homepage/left-nav.js"></script>
</body>

</html>