<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../../user.css" />
    <script src="https://kit.fontawesome.com/7803942065.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="flex-row homepg-body">
      <div class="left-nav flex-col">
        <span class="a" onclick="handleclosebtn()">
          <i class="fas fa-angle-double-left left-nav-open-close-button" ></i>
        </span>
        <script>
            function handleclosebtn(){
              document.querySelector('.left-nav').style.width='6vw';
            }
        </script>
        <div class="user-info-left-nav">
          <span
            ><img
              src="../../asset/man-icon-illustration-vector.jpg"
              alt="No image"
              id="user-img"
          /></span>
        </div>
        <script src="./texttoicon.js"></script>

        <div class="nav">
            <div class="button" id="b1" >
              Request
              </div>
          <div class="button" id="b5"> Track Request</div>
          <div class="button" id="b4"> History</div>
          <div class="button" id="b2"> Feedback</div>
          <button id="logout">Log Out </button>
          
        </div>
      </div>
        <div class="homepg-main-content flex-row">
          <div class="header"></div>
        </div>
    </div>
    <script src="left-nav.js"></script>
  </body>
</html>
