<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../user.css">
</head>
<body>
    <div class="left-nav flex-col" >
        <span id="left-nav-open-close-button">x</span>
        <div class="user-info-left-nav">

            <span><img src="../../asset/man-icon-illustration-vector.jpg" alt="No image" id="user-img" /></span>
        </div>

        <div class="nav">
            <div class="button" id="b1">Request Maintence</div>
            <div class="button" id="b5">Track Request</div>
            <div class="button" id="b4">History</div>
            <div class="button" id="b2">Feedback</div>
            <button id="logout">Log Out</button>
        </div>
    </div>

    <main class="flex-row">
        <header class="main-header"></header>
        <div class="main-content "></div>    
    </main>
    <script src="left-nav.js"></script>
</body>
</html>